* {
     padding: 0;
     margin: 0;
}

.stairbox>div {
     color: rgb(249, 252, 255);
     display: inline-block;
     height: 250px;
     width: 250px;
}

.a {
     background-color: aqua;

     position: absolute;
     top: 5px;
     left: 5px;
     z-index: 1;
}

.b {
     background-color: aquamarine;

     position: absolute;
     top: 65px;
     left: 89px;
     z-index: 2;
}

.c {
     background-color: black;
     position: absolute;
     top: 143px;
     left: 191px;
     z-index: 3;
}

.d {
     background-color: yellowgreen;
     position: absolute;
     top: 235px;
     left: 297px;
     z-index: 4;
}

.e {
     background-color: yellow;
     position: absolute;
     top: 318px;
     left: 395px;
     z-index: 5;
}

.f {
     background-color: violet;
     position: absolute;
     top: 393px;
     left: 511px;
     z-index: 6;
}

.g {
     background-color: tomato;
     position: absolute;
     top: 467px;
     left: 609px;
     z-index: 7;
}

.h {
     background-color: teal;
     position: absolute;
     top: 535px;
     left: 700px;
     z-index: 8;
}

/* .stob{
     padding-top: 20px;
     padding-bottom:1000px;
     color: white;
} */
.stob>div {
     color: rgb(255, 255, 255);
     display: inline-block;
     height: 180px;
}

.i {
     background-color: rgb(28, 54, 33);
     position: absolute;
     top: 1000px;
     left: 480px;
     z-index: 8;
     width: 700px;
}

.j {
     background-color: rgb(126, 14, 107);
     position: absolute;
     top: 1110px;
     left: 566px;
     z-index: 8;
     width: 530px;
}

.k {
     background-color: rgb(107, 77, 20);
     position: absolute;
     top: 1230px;
     left: 650px;
     z-index: 8;
     width: 370px;
}

.l {
     background-color: rgb(255, 0, 0);
     position: absolute;
     top: 1350px;
     left: 730px;
     z-index: 8;
     width: 200px;
}





.btos>div {
     color: rgb(255, 255, 255);
     display: inline-block;
     height: 180px;
}

.m {
     background-color: rgb(28, 54, 33);
     position: absolute;
     top: 2140px;
     left: 730px;
     z-index: 8;
     width: 200px;
}

.n {
     background-color: rgb(126, 14, 107);
     position: absolute;
     top: 2260px;
     left: 650px;
     z-index: 8;
     width: 370px;
}

.o {
     background-color: rgb(107, 77, 20);
     position: absolute;
     top: 2380px;
     left: 570px;
     z-index: 8;
     width: 530px;
}

.p {
     background-color: rgb(255, 0, 0);
     position: absolute;
     top: 2510px;
     left: 480px;
     z-index: 8;
     width: 700px;
}




.sq4>div {
     color: rgb(255, 255, 255);
     display: inline-block;
     height: 250px;
     width: 250px;
}

.q {
     background-color: rgb(28, 54, 33);
     position: absolute;
     top: 3140px;
     left: 730px;
     z-index: 10;
   
}

.r {
     background-color: rgb(126, 14, 107);
     position: absolute;
     top: 3300px;
     left: 570px;
     z-index: 8;
   
}

.s {
     background-color: rgb(107, 77, 20);
     position: absolute;
     top: 3460px;
     left: 730px;
     z-index: 6;
 
}

.t {
     background-color: rgb(255, 0, 0);
     position: absolute;
     top: 3300px;
     left: 890px;
     z-index: 4;
    
}